/* Colors */

$bg-col 	: lavender;
$text-col : #999;

body, html {
	width  : 100%;
	height : 100%;
}

body {
	background : $bg-col;
}

footer {
	hr {
		border-top : 1px solid $text-col;
	}
	a {
		color: $text-col;
	}
}

.page-wrapper {
	height  : 70%;
	display : block;
}